$colors: (
    itunes: #FFFFFF,
    spotify: #42B74E,
    instagram: #FF00B5
);

@each $redsocial, $bgcolor in $colors {
    .color#{$redsocial} {
        color: $bgcolor;
        font-size: 26px;
    }
}
