
@font-face {
    font-family: 'primetimeregular';
    src: url('primetime__personal_use_only-webfont.woff2') format('woff2'),
         url('primetime__personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bg-light {
     background-color: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    text-emphasis: center;
    margin: 0;
    padding: 0;
}

main.page {
    background-image: url('Imagenes/Backgroundpg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1200px 800px;
   background-position: center top 3%; 
}

body.videos {
    background-image: url('Imagenes/Ultra-Miami.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1200px 800px;
    background-position: center top 30%; 
}

main.contact {
    background-image: url('Imagenes/contactbkg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1000px 700px;
}

h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'primetimeregular';
    text-align: right;
    margin-right: 10px;
    padding: 100px;
    letter-spacing: 2px;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'primetimeregular';
}

h3 {
    word-spacing: 5px;
    font-size: 20px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-basis: 100%;
}

p {
    font-size: 17px;
}



nav {
   float: right;
   display: block;

}

nav ul {
    margin: 0;
    padding: 4px;
    list-style: none;
    letter-spacing: 1.5px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

header ::after {
 content: '';
 display: table;
 clear: both;
}


nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #DADADA;
}

button .fa {
    font-size: 27px;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white; 
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(172, 172, 172);
}    

.bg-light {
    background-color: transparent !important;
}

.nav-link:hover {
    color: rgb(202, 202, 202);
}


nav ul li:hover .dropdown{
    display: block;
    width: 135px;
    transition: all 1s;
    background-color:rgba(0, 0, 0, 0.507);
    line-height: 35px;
   z-index: 999999;

}

btn-primary {
    border-color: none;
}

form {
    margin-bottom: 20px;
    transition: all 2.5s ease-in-out;
    text-align: center;
}


form .submit:hover {
    cursor: pointer;
}

form .submit {
    background: white;
    border-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
input {
    height: 45px;
}

.formulario {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    box-shadow: none;
}


.gallery{
    margin: 0 auto;
    flex-wrap: wrap;
}

.galleryimg {
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

.center {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    margin-bottom: 10px;
}

.galleryimg:hover {
    transform: scale( 1.05);
    transition: all 0.57s;
}

.ftext {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 0 auto;
    font-weight: bold;
}

.fila {
   width: 25%;
   padding: 3px;
}

.blackcube {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.623) ;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    opacity: 1;
}

.blackcube:hover {
    opacity: 0;
    transition: all 0.55s;
}

.cube {
    position: relative;
}

.blackcube:hover {
    display: block;
}

.button {
    background-color: rgb(104, 43, 139) ; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.underline:hover {
    text-decoration: underline;
}

.tourbox {
    background-color:rgba(255, 255, 255, 0.200);
    border-radius: 15px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 20px;
    flex-basis: 25%;
}


.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-basis: 20%;

}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    padding-bottom: 75px;
    flex-basis: 80%;
    width: 100%;
}

.main-logo {
    float: left;
    padding: 10px 0;
    margin: 0;
}

.table-centered {
    width: 50%;
    margin: 0% auto;
    border-spacing: 10px;
}

.page {
 text-align: center;
}

.table-shop {
    border-radius: 6px;
    background: white;
    color: black;
    padding: 3px;
    width: 100%;
    text-align: center;
    margin: 8px;
}


.left-video {
flex-basis: 70%;
 margin-left: 40px;
 width: 70%;
 
}

.right-video {
flex-basis: 70%;
 text-align: right;
 margin-right: 40px;
 width: 70%;
 justify-self: flex-end;
 margin-left: auto;
 
}

.mainpagetour {
    width: 100%;
}

.image-align {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.disctext {
    min-height: 50px;
}

#discography {
    margin: 0 auto;
    width: 100%;
}

#videoweb {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}


#imagencontacto {
    display: inline-block;
}

#tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
}


#mgtext {
    margin: 0 auto;
    padding: 30px;
    margin-right: 20px;
}

.legal-wrap p {
    font-size: 15px;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}


.collapse {
    justify-content: flex-end;
}

button span {
    color: white;
    font-size: 25px;
}

/*Mobile*/
@media only screen and (max-width: 400px) {
    h3{
        font-size: 15px;
    }
    .logo {
        width: 100%;
    }
    .menu {
        width: 100%;
        padding-right: 15px;
        flex-basis: 100%;
        justify-content: space-between;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        text-align: right;
        font-size: 55px;
    }
    .fila {
        width: 100%;
    }
    .tourbox {
        flex-basis: 75%;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 20px;
    }
    .blackcube {
        display: none;
    }
    .formulario {
        width: 100%;
    }
    .container {
        flex-wrap: wrap;
    }
    .right-video {
        flex-basis: 100%;
        margin-right: 7px;
        margin-left: 7px;
        text-align: center;
        width: 100%;

    }
    .image-align {
        width: 100%;
    }
    .left-video {
        flex-basis: 100%;
        margin-right: 7px;
        margin-left: 7px;
        text-align: center;
        width: 100%;
    }
    .galleryimg {
        width: 100%;
    }
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.486);
    }
    .button {
        margin-left: auto;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    nav {
        float: none;
    }
    form {
        margin-top: 0px;
    }
    .contact-form {
        padding: 20px;
    }
    #videoweb {
        padding-left: 10px;
        padding-right: 20px;
    }
}

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 991px) {
    h1 {
        font-size: 80px;
        text-align: right;
        padding-top: 130px;
        padding-bottom: 100px;
        padding-left: 40px;
        padding-right: 10px;
    }
    h3 {
        font-size: 19px;
    }
    .fila {
        width: 50%;
    }
    .tourbox {
        flex-basis: 65%;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 20px;
    }
    .blackcube {
        display: none;
    }
    .image-align {
        justify-content: initial;
        width: 100%;
    }
    .container {
        flex-wrap: wrap;
    }
    .right-video {
        flex-basis: 100%;
        margin-right: 7px;
        margin-left: 7px;
        text-align: center;
        width: 100%;
    }
    .left-video {
        flex-basis: 100%;
        margin-right: 7px;
        margin-left: 7px;
        text-align: center;
        width: 100%;
    }
    .formulario {
        width: 100%;
    }
    .galleryimg {
        width: 100%;
    }
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.486);
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .menu {
        justify-content: space-between;
        padding-right: 15px;
    }
    nav {
        float: none;
    }
    form {
        margin-top: 0px;
    }
    .contact-form {
        padding: 20px;
    }
    #videoweb {
        padding-left: 10px;
        padding-right: 20px;
    }
}


