
@font-face {
    font-family: 'primetimeregular';
    src: url('primetime__personal_use_only-webfont.woff2') format('woff2'),
         url('primetime__personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    text-emphasis: center;
}

div.index {
    background-image: url('Imagenes/Backgroundpg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1200px 800px;
   background-position: center top 3%; 
}

body.videos {
    background-image: url('Imagenes/Ultra-Miami.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1200px 800px;
    background-position: center top 30%; 
}



h1 {
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'primetimeregular';
    text-align: right;
    margin-right: 10px;
    padding: 100px;
    letter-spacing: 2px;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'primetimeregular';
}

h3 {
    word-spacing: 5px;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-basis: 100%;
}

p {
    font-size: 17px;
}



nav {
   float: right;
   display: block;

}

nav ul {
    margin: 0;
    padding: 4px;
    list-style: none;
    letter-spacing: 1.5px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;
    margin-right: 20px;
}

header ::after {
 content: '';
 display: table;
 clear: both;
}


nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #DADADA;
}

.dropdown {
    display: none;
    position: absolute; 
    
}

nav ul li:hover .dropdown{
    display: block;
    width: 125px;
    transition: all 1s;
    background-color:rgba(0, 0, 0, 0.507);
    line-height: 35px;
   z-index: 999999;

}


form {
    margin-top: 50px;
    transition: all 2.5s ease-in-out;
    text-align: center;
}

form .submit {
    background: indianred;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: rgb(219, 109, 109);
    cursor: pointer;
}

input {
    height: 45px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}


.gallery{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.galleryimg {
    padding: 10px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.galleryimg:hover {
    transform: scale( 1.05);
    transition: all 0.57s;
}

.ftext {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 0 auto;
    font-weight: bold;
}

.row {
   width: 33.3333333%;
}

.blackcube {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.623) ;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    opacity: 1;
}

.blackcube:hover {
    opacity: 0;
    transition: all 0.55s;
}

.cube {
    position: relative;
}

.blackcube:hover {
    display: block;
}

.button {
    background-color: rgb(104, 43, 139) ; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.underline:hover {
    text-decoration: underline;
}

.tourbox {
    background-color:rgba(255, 255, 255, 0.200);
    border-radius: 15px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    flex-basis: 25%;
}


.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-basis: 20%;

}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 5px;
    flex-basis: 80%;
}

.main-logo {
    float: left;
    padding: 10px 0;
    margin: 0;
}

.table-centered {
    width: 50%;
    margin: 0% auto;
    border-spacing: 10px;
}

.page {
 text-align: center;
}

.table-shop {
    border-radius: 6px;
    background: white;
    color: black;
    padding: 3px;
    width: 100%;
    text-align: center;
    margin: 8px;
}


.left-video {
flex-basis: 70%;
 margin-left: 40px;
 width: 70%;
 
}

.right-video {
flex-basis: 70%;
 text-align: right;
 margin-right: 40px;
 width: 70%;
 justify-self: flex-end;
 margin-left: auto;
 
}

.mainpagetour {
    width: 100%;
}

.image-align {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.disctext {
    min-height: 50px;
}
#discography {
    margin: 0 auto;
    width: 100%;
}

#videoweb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

#shop-table td, #shop-table th {
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 30px;
}

#imagencontacto {
    display: inline-block;
}

#tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
    padding: 20px;
    padding-top: 40px;
}


#mgtext {
    margin: 0 auto;
    padding: 20px;
    margin-right: 20px;
}

.legal-wrap p {
    font-size: 15px;
}

